/**
 * Basic typography style for text
 */

body,
a,
p {
 font-family: $poppins-medium;
}
span {
  font-family: $poppins-pegular;
 }

h1,
h2,
h3,
h4,
.font-weight-bold {
  font-family: $Poppins-Bold;

}
h5,
h6,
.font-weight-medium {
  font-family: $poppins-semiBold;
}



